body{
    font-family: 'Ubuntu', sans-serif;
 

}



.news-box{
    background-color: #d4cfcfc4;
}

.news-flex-body{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-text{
    width: 700px;
}

img{
    max-width: 600px;
    max-height: 600px;
}

button{
    padding: 10px 25px;
    background-color: rgb(0, 151, 238);
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 20px     ;
}


.container1{
    border: 8px solid white;
    border-radius: 12px;
    margin-top: 12px;
}

.color{
    color:white;
}
#logo{
    max-height: 20%;
    max-width: 20%;
    margin-right: auto;
}

.custom-nav{
    height: 5rem;
    background-color: #009688;
}
